/* Insights.css */

.insights-container {
  /* background-color: #f4f8fb; */
  min-height: 90vh;
    width: 90%;
margin: auto;
  padding: 2rem;
    animation: fadeIn 0.1s ease-in-out;


}


.insights-content {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}

.insights-heading {
  font-size: 28px;
  margin-bottom: 1rem;
  color: #222;
}

.insight-box {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 8px;
  font-size: 18px;
  color: #444;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  min-height: 150px;
  white-space: pre-line;
  width: 180%;
  max-width: 900px;
  margin: 2rem auto; /* centers the box horizontally */
}


/* .home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 2px solid #e0e0e0;
} */

/* .home-logo {
  font-size: 24px;
  font-weight: bold;
  color: #222;
} */

/* .home-nav-links a {
  margin-left: 1.5rem;
  color: #1976d2;
  text-decoration: none;
  font-weight: 500;
}

.home-nav-links a:hover {
  text-decoration: underline;
} */